QSlider::groove { 
	background-color: black;
	border: 0px solid #424242; 
	height: 10px; 
	border-radius: 4px;
}

QSlider::handle { 
	background-color: red; 
	border: 2px solid red; 
	width: 16px; 
	height: 20px; 
	line-height: 20px; 
	margin-top: -5px; 
	margin-bottom: -5px; 
	border-radius: 10px; 
}

QSlider::handle:hover { 
	border-radius: 10px;
	background-color:rgb(150, 50, 50)
}
QSlider::sub-page{
	background-color: red;
	border: 0px solid #424242; 
	height: 10px; 
	border-radius: 4px;
}
QSlider::add-page{
	background-color: rgb(230,230,230);
	border: 0px solid #424242; 
	height: 10px; 
	border-radius: 4px;
}
*{
	font: 8pt "MS Shell Dlg 2";
}

QPushButton{
	background-color:red;
border:none;
border-radius: 5px;
}

QPushButton:hover{
	background-color:rgb(200, 50, 50);
	border:none;
}

QPushButton:pressed{
	background-color:rgb(100, 50, 50);
	border:none;
}

#VMediaPlayer{
	background-color:rgb(255,255,255);
}

QLabel{
	background-color:red;
	border:none;
	border-radius: 5px;
}
QLabel#Video_Widget{
	background-color:rgb(255,255,255);
	border:none;
	border-radius: 5px;
}


